<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Tax Calculator</title>
</head>
<body>
<header>
    <h1 class="title">Ireland Tax Calculator</h1>
    <nav class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('calculate') }}">Calculator</a></li>
        </ul>
    </nav>
</header>
    
<main>
    {% block content %}        
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Ireland Tax Calculator. All rights reserved.</p>
</footer>

</body>
</html>