{% extends 'base.html' %}
{% block content %}

<div class="container">

<h1 class="title">WARNING</h1>
Dear Users,

<p class="main-paragraph">
    The "Ireland Tax Calculator" is introduced as a program developed solely for 
    the purpose of honing programming skills and providing assistance to those
    grappling with tax payment challenges. Crafted using Python and Flask, it
    offers a practical tool for comprehending and estimating tax obligations.</p>
<p class="main-paragraph">
    However, it must be emphasized that <b>this tax calculator is not an official 
    government program and should not, under any circumstances, be perceived as 
    a replacement for official tax advice or utilized as proof of tax payments.</b> 
    Information provided within the program has been diligently extracted from 
    reputable sources, yet users are strongly advised to consult tax professionals
    or official government resources for accurate and up-to-date information
    regarding their tax obligations.</p>

<p class="emphasis-paragraph">
    Your understanding is greatly appreciated, and it is hoped that this program 
    proves to be a valuable resource in your tax planning endeavors.</p>

Sincerely.
</div>

{% endblock %}