{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="table-header">
        <h2>USEFUL LINKS</h2>
    </div>
    <table>
    
        <thead>
            <tr>
                <th>Subject</th>
                <th>Source 1</th>
                <th>Source 2</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>How your tax is calculated</td>
                <td><a class="links" href="https://shorturl.at/kopu0" target="_blank">Revenue</a></td>
                <td><a class="links" href="https://shorturl.at/oIZ02" target="_blank">Citizens Information</a></td>
            </tr>
            <tr>
                <td>Pay Related Social Insurance (PRSI)</td>
                <td><a class="links" href="https://shorturl.at/wLW14" target="_blank">Revenue</a></td>
                <td><a class="links" href="https://shorturl.at/jkDG4" target="_blank">Citizens Information</a></td>
            </tr>
            <tr>
                <td>Pay as You Earn (PAYE)</td>
                <td><a class="links" href="https://shorturl.at/nzIU1" target="_blank">Revenue</a></td>
                <td><a class="links" href="https://shorturl.at/ckwEH" target="_blank">Citizens Information</a></td>
            </tr>
            <tr>
                <td>Income Tax Paid</td>
                <td><a class="links" href="https://shorturl.at/dmxE9" target="_blank">Revenue</a></td>
                <td><a class="links" href="https://shorturl.at/fyFGH" target="_blank">Citizens Information</a></td>
            </tr>
            <tr>
                <td>Universal Social Charge(USC)</td>
                <td><a class="links" href="https://shorturl.at/finI1" target="_blank">Revenue</a></td>
                <td><a class="links" href="https://shorturl.at/oqyDM" target="_blank">Citizens Information</a></td>
            </tr>
        </tbody>
    </table>
    <p class="emphasis-paragraph">The information provided in this program has 
        been gathered from the referenced websites. For any inquiries or 
        concerns regarding taxes, it is strongly advised to seek assistance from
         qualified professionals.</p>
</div>

{% endblock %}